# Only include the addons folder when downloading from the Asset Library.
/**        export-ignore
/addons    !export-ignore
/addons/previous-tab !export-ignore
/addons/previous-tab/** !export-ignore
